.mobile-img {
    width: 100%;
    max-width: 180px; /* Adjust this size */
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  @media (max-width: 992px) {
    .mobile-img {
      max-width: 150px; /* Smaller on medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .mobile-img {
      max-width: 120px; /* Smaller on mobile */
    }
  }
  